body{
  margin: 0;
  padding: 0;
}

 /* Header  */
.list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-left: 10px;
}
li {
  margin-left: 10px;
}

.header--div{
  background-color: rgb(209, 212, 214);
  height: 50px;
  display: flex;
  align-items: center;
  width: 50%;
  

 
}

/* Main */

.Main--div {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  height: 100px;
  width: 50%;
  
  
}

.Main--div input {
  width: 500px;
  margin-left: 20px;
}
label{
  margin-left: 20px;
}


/* Footer */
p {
  font-size: 10px;
  margin-left: 20px;
}
